name: CI Pipeline

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: true
      - name: Run Lint
        run: go fmt ./...

  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: true
      - run: go test -v -coverprofile=coverage.out ./...
      # LANGKAH PENTING: Simpan file coverage agar bisa dipakai job lain
      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: go-coverage
          path: coverage.out

  sonar:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      # LANGKAH PENTING: Ambil kembali file coverage dari job test
      - name: Download code coverage results
        uses: actions/download-artifact@v4
        with:
          name: go-coverage
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
        with:
          args: >
            -Dsonar.organization=ischemy
            -Dsonar.projectKey=ischemy_sampleapp
            -Dsonar.sources=.
            -Dsonar.go.coverage.reportPaths=coverage.out

  k6_test:
    needs: sonar
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Langkah 1: Setup k6 dengan versi spesifik agar lebih stabil
      - name: Setup k6
        uses: grafana/setup-k6-action@v1
        with:
          k6-version: '0.49.0' # Gunakan versi stabil yang tersedia

      # Langkah 2: Jalankan script k6 Anda
      - name: Run k6 load test
        run: k6 run loadtest/script.js
